a:link    {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663300}
a:visited {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}
a:hover   {text-decoration: underline; color: #FFCC00}

h1 {font-family: Arial, sans-serif; font-size: 16px; color: #663300; 
    vertical-align: top; margin-top: 0px; margin-bottom: 9px}
h2 {font-family: Arial, sans-serif; font-size: 16px; color: #663300;
    vertical-align: top; margin-top: 0px; margin-bottom: 3px}
h3 {font-family: Arial, sans-serif; font-size: 12px; color: #663300;
     vertical-align: top; margin-top: 0px; margin-bottom: 3px}
h4 {font-family: Arial, sans-serif; font-size: 12px; color: #663300;
    vertical-align: top; margin-top: 3px; margin-bottom: 3px}

p {font-family: Arial, sans-serif; font-size: 12px; 
   margin-top: 0px; margin-bottom: 9px; margin-right: 5px;}

td {font-family: Arial, sans-serif; font-size: 12px; 
    margin-top: 0px; margin-bottom: 9px; margin-right: 5px}

img { margin-top: 0px; margin-bottom: 3px; margin-right: 0px; margin-left: 0px; border: 0}

ul {font-family: Arial, sans-serif; font-size: 12px}
ol {font-family: Arial, sans-serif; font-size: 12px}
li {font-family: Arial, sans-serif; font-size: 12px; margin-bottom: 3px}

.copyright   {font-family: Arial, sans-serif; font-size: 11px}
.normal      {font-family: Arial, sans-serif; margin-left: 0px}
.times       {font-family: "Times New Roman", Times, serif}
.identlevel  {margin-top: -12px; margin-bottom: -12px; margin-left: 18px}
